/* base style */
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: lightgray;
}

/* style for banner */
.banner {
  display: flex;
  align-items: center;
  background-color: #2d25a0;
  height: 677px;
  padding-left: 150px;
}

.half-width {
  width: 50%;
}

.half-width h1 {
  font-size: 64px;
  color: #ffffff;
}

.half-width button {
  background-color: #e02c6d;
  color: white;
  width: 168px;
  height: 44px;
}

.half-width img {
  width: 556px;
  height: 438px;
  left: 1299px;
  top: 153px;
}

/* style for banner end */

/* style for player profile start  */
.container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
}
.player-profile {
  width: 330px;
  height: 474px;
  background-color: #ffffff;
  padding: 10px;
  margin-left: 170px;
}

.player-profile img {
  width: 300px;
  height: 256px;
}

.player-profile h2 {
  font-size: 28px;
  line-height: 40px;
}

.player-profile p {
  font-size: 16px;
  color: #6c6c6c;
  line-height: 26px;
}
/* style for player profile end  */

/* style for logo start */
.logo {
  margin-top: 80px;
  text-align: center;
}
.logo img {
  width: 480px;
  height: 110px;
}
/* style for logo end */
.social-site {
  margin-top: 25px;
}

.fab {
  padding: 7px;
  width: 32px;
  height: 32px;
  background-color: #969bab;
  border-radius: 10px;
}

.copyright {
  font-size: 18px;
}
